.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(mobile) {
    width: 300px;
  }
  @include for-size(tablet) {
    width: 648px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @include for-size(desktop) {
    width: 912px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
