$white: #ffffff;
$black: #000000;
$gray: #545454;
$red: #ff001b;
$orange-primary: #ff6b08;
$orange-secondary: #ff6b01;
$gray-backdrop: #8f8f8f;
$gray-text-modal: #4c4545;
$headerBg: rgba(0, 0, 0, 0.56);
$modal-dark-theme: #d3d3d4;
$modal-dark-theme-text: #413333;
$footerBg-and-arrowPagin: #f7f7f7;
$bodyBG-dark-theme: #514e4c;
$footerBg-dark-theme: #504c4b91;

$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
