$white: #ffffff;
$black: #000000;
$gray: #545454;
$red: #ff001b;
$orange-primary: #ff6b08;
$orange-secondary: #ff6b01;
$gray-backdrop: #8f8f8f;
$gray-text-modal: #8c8c8c;
$headerBg: rgba(0, 0, 0, 0.56);
$footerBg-and-arrowPagin: #f7f7f7;
$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
