.gallery__film {
  font-family: $font;
}

.gallery-film__image {
  border-radius: 5px;
}

.gallery-film__title {
  margin-top: 10px;

  text-transform: uppercase;
}

.gallery-film__features {
  display: flex;
}
