.trailer.show-modal .trailer-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.trailer.show-modal .trailer-modal {
  transform: scale(1);
}

.trailer-backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  // 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.trailer-modal {
  padding: 24px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__button-trailer > span::before {
  content: '\25BA';
}

.modal__button-trailer {
  display: block;
  border: 1px solid $gray-text-modal;
  border-radius: 5px;
  padding: 4px;
  width: 80px;
  background-color: transparent;
  transition: all $transition;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: $white;
    border-color: $orange-secondary;
    background-color: $orange-secondary;
  }
}

.film-trailer-close {
  position: absolute;
  top: 1px;
  right: 1px;
  color: $white;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '\2715';
  }
}

// .video {
//   width: 360px;
// }
