.trailer.show-modal .trailer-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.trailer.show-modal .trailer-modal {
  transform: scale(1);
}

.trailer-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.trailer-modal {
  padding: 24px;
  border-radius: 4px;
  // max-width: 640px;
  // width: 100%;
  // min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__button-trailer > span::before {
  content: '\25BA';
}

.modal__button-trailer:hover {
  color: blue;
}
