{{#each this}}
<li class="grid__item">
    <img src="{{poster_path}}" alt="" />
    <h3 class="film__title">{{title}}</h3>
    <span class="film__text">{{genres}} | {{release_date}}</span>
</li>
{{/each}}